In [3]:
import sqlite3

conn = sqlite3.connect('python_midterm.db')  

cursor = conn.cursor()

create_table_query = '''
CREATE TABLE Weather_Table (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
'''

insert_queries = [
    "INSERT INTO Weather_Table VALUES (1, '2015-01-01', 10);",
    "INSERT INTO Weather_Table VALUES (2, '2015-01-02', 25);",
    "INSERT INTO Weather_Table VALUES (3, '2015-01-03', 20);",
    "INSERT INTO Weather_Table VALUES (4, '2015-01-04', 30);"
]

select_query = '''
SELECT tem1.id
FROM Weather_Table tem1
JOIN Weather_Table tem2 ON tem1.id = tem2.id + 1
WHERE tem1.temperature > tem2.temperature;
'''

# Execute the SQL queries
cursor.executescript(create_table_query)
for insert_query in insert_queries:
    cursor.execute(insert_query)

# Execute the SELECT query and fetch the results
cursor.execute(select_query)
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Commit the changes and close the database connection
conn.commit()
conn.close()

(2,)
(4,)